*{
     /*Obligatorio este selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*../ pasara salir de la carpeta en la que ya esta*/
body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-repeat: no-repeat;
}

/*Selector de clase*/
.titulo-principal{
font-family: 'Times New Roman', Times, serif;
margin: 20px;
}
#titulo1{
    color: rgb(134, 247, 82);
}

a{
    color: bisque;
}
/*cuando uno pasa el mouse cambia de color*/
a:hover{
    color: chartreuse;
    text-decoration: underline;
}

div{
    background-color: blanchedalmond;
    width: 800px;
    height: 300px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;


}

p{
    color: rgb(37, 146, 113);
}

div p{
    color: deeppink;
   
}